<div class="clip">
  <a class="clip__go-back" 
    (click)="goBack()">
    back to work
  </a>
  <div class="clip__header">
    <h2>{{project.headline}}</h2>
    <h2>{{project.title}}</h2>
  </div>
  <div class="clip__video"
    *ngFor="let clip of this.project.clips"
  >
    <div class="clip__embed-container">
      <iframe [src]="clip.url | safeResourceUrl" 
        frameborder='0' 
        webkitAllowFullScreen 
        mozallowfullscreen 
        allowFullScreen>
      </iframe>
    </div>
    <h4>{{clip.name}}</h4>
  </div>
</div>