<div class="misc">
  <h2 class="misc__header">Things that I like:</h2>
  <div class="misc__links"
    [@fadeIn]="state"
    >
    <a class="misc__link"
      [href]="website.url"
      target="_blank"
      >
      Website that I like: <span class="misc__link-name">{{website.name}}</span>
    </a>
    <a class="misc__link"
      [href]="song.url"
      target="_blank"
      >
      Song that I like: <span class="misc__link-name">{{song.artist}} — {{song.name}}</span>
    </a>
    <a class="misc__link"
      [href]="instagram.url"
      target="_blank"
      >
      Instagram that I like: <span class="misc__link-name">{{instagram.user}}</span>
    </a>
  </div>
  <button class="misc__btn"
    (click)="getRandomLinks()"
  >
    <img class="misc__btn-img"
      src="assets/img/khaled.jpg"
      alt="Click here for another one"
    />
  </button>
</div>
