@import '~scss/variables';

.misc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__header {
    margin-bottom: 5rem;
  }

  &__links {
    margin-bottom: 5rem;
  }

  &__link {
    margin-bottom: 3rem;

    &-name {
      color: $action-color;
      font-weight: 400;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__btn {
    cursor: pointer;
    border-radius: 5px;
    padding: 1rem;
    position: relative;
    outline: none;
    transition: $medium-transition;
    border: 1px solid $light-color;

    &:hover {
      border: 1px solid $action-color;
      background: $action-color;
      transform: $scale;
    }

    &:active {
      box-shadow: none;
      transform: translateY(4px) $scale;
    }

    &-img {
      height: 250px;
    }
  }
}
