<footer class="footer">
  <li class="footer__email">
    <a>risegal4@gmail.com</a>
  </li>
  <li class="footer__link">
    <a href="mailto:risegal4@gmail.com" target="_blank">
      <i class="fa fa-lg fa-envelope-o" aria-hidden="true"></i>
    </a>
  </li>
  <li class="footer__link">
    <a href="https://www.linkedin.com/in/rsegal" target="_blank">
      <i class="fa fa-lg fa-linkedin-square" aria-hidden="true"></i>
    </a>
  </li>
  <li class="footer__link">
    <a href="https://www.instagram.com/riiyaack/" target="_blank">
      <i class="fa fa-lg fa-instagram" aria-hidden="true"></i>
    </a>
  </li>
  <li class="footer__link">
    <a href="https://twitter.com/kanyewest" target="_blank">
      <i class="fa fa-lg fa-twitter-square" aria-hidden="true"></i>
    </a>
  </li>
</footer>