<header class="header">
  <div class="header__container">
    <nav class="header__left">
      <a class="header__item header__name"
        routerLink="/">
        rick segal
      </a>
      <span class="header__item">|</span>
      <a class="header__item"
        href="mailto:risegal4@gmail.com" 
        target="_blank"
        >
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
      </a>
      <a class="header__item"
        href="https://www.linkedin.com/in/rsegal"
        target="_blank"
        >
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
      </a>
      <a class="header__item"
        href="https://www.instagram.com/riiyaack/"
        target="_blank"
        >
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
      <a class="header__item"
        href="https://twitter.com/officiaikanye"
        target="_blank"
        >
        <i class="fa fa-twitter-square" aria-hidden="true"></i>
      </a>
    </nav>
    <nav class="header__right">
      <a class="header__item" 
        routerLink="/work"
        routerLinkActive="header__item--active"
        >
        work
      </a>
      <a class="header__item" 
        routerLink="/about"
        routerLinkActive="header__item--active"
        >
        about
      </a>
      <a class="header__item header__bird" 
        routerLink="/misc"
        routerLinkActive="header__item--active"
        >
        🐦
      </a>
    </nav>
  </div>
</header>