@import '~scss/variables';

.header {
  position: fixed;
  width: 100%;
  background: $bg-color;
  z-index: 3;

  &__container {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
  }

  &__left,
  &__right {
    display: flex;
    align-items: center;
  }

  &__item {
    padding: 1rem;
    font-weight: 200;
    position: relative;

    // &::after {
    //   content: "";
    //   position: absolute;
    //   bottom: 0;
    //   left: 0;
    //   border-bottom: 1px solid $font-color;
    //   width: 100%;
    //   visibility: hidden;
    //   transform: scaleX(0);
    //   transition: $fast-transition;
    // }

    // &:hover::after {
    //   visibility: visible;
    //   transform: scaleX(1);
    // }

    &--active {
      font-weight: 500;
      color: $action-color;
    }
  }

  &__name {
    padding-left: 0;
    font-weight: 400;
  }

  &__bird {
    padding-right: 0;
    position: relative;
    top: 2px;
  }
}