@import '~scss/variables';

.header {
  position: fixed;
  width: 100%;
  background: $bg-color;
  z-index: 3;

  &__container {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
  }

  &__left,
  &__right {
    display: flex;
    align-items: center;
  }

  &__name {
    font-weight: 400;
  }

  &__item {
    margin-left: 2rem;
  }

  &__link {
    padding: 1rem 0;
    font-weight: 200;

    &--active {
      font-weight: 500;
      color: $action-color;
    }
  }

  &__bird {
    position: relative;
    top: 2px;
  }
}