@import '~scss/variables';

.header {
  position: fixed;
  width: 100%;
  background: $bg-color;
  z-index: 3;

  &__container {
    display: flex;
    justify-content: space-between;
    width: 95%;
    max-width: 960px;
    margin: 0 auto;
  }

  &__left,
  &__right {
    display: flex;
    align-items: center;
  }

  &__item {
    padding: 0.7rem;
    position: relative;
    transition: $fast-transition;

    &:hover {
      color: $action-color;
    }

    &--active {
      font-weight: 400;
      color: $action-color;
    }

    &-divider {
      margin-right: 0.5rem;

      &:hover {
        color: $font-color;
      }
    }

    &-misc {
      padding-top: 0;
      padding-bottom: 0;
      padding-right: 0 !important;
    }
  }

  &__icon {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  &__name {
    padding-left: 0 !important;
    font-weight: 400;
  }

  &__bird {
    width: 2rem;
    position: relative;
    top: 3px;
  }


  @media screen and (min-width: 400px) {

    &__item {
      padding: 1rem;
    }

    &__icon {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

  }

}
