<figure class="project">
  <main class="project__splash">
    <span class="project__headline">{{project.headline}}</span>
    <span class="project__title">{{project.title}}</span>
    <span class="project__title">{{project.path}}</span>
    <span class="project__title"># of tabs: {{project.tabs.length}}</span>
  </main>
  <!-- <figcaption class="project__menu">
    <div class="project__normal-link">{{project.tabs[0].name}}</div>
    <div class="project__additional-link">{{project.tabs[1].name}}</div>
  </figcaption> -->
</figure>