<figure class="project">
  <a class="project__splash"
    routerLink="/work/{{project.tabs[0].id}}"
  >
    <div class="project__container">
      <div class="project__headline">{{project.headline}}</div>
      <div class="project__title">{{project.title}}</div>
    </div>
  </a>
  <figcaption class="project__menu">
    <a class="project__menu-link"
      routerLink="/work/{{project.tabs[0].id}}"
      >
      {{project.tabs[0].name}}
    </a>
    <a class="project__menu-link"
      routerLink="/work/{{project.tabs[1].id}}"
      *ngIf="project.tabs[1]"
      >
      {{project.tabs[1].name}}
    </a>
  </figcaption>
</figure>