<div class="project">
  <div class="project__header">
    <a class="project__go-back btn hvr-shutter-out-horizontal"
      (click)="goBack()"
      >
      back to work
    </a>
    <div class="project__header-info">
      <h2 class="project__headline">{{project.headline}}</h2>
      <h2 class="project__title">{{project.title}}</h2>
    </div>
  </div>
  <div class="project__video"
    *ngFor="let project of this.project.clips"
  >
    <div class="project__embed-container">
      <iframe [src]="project.url | safeResourceUrl" 
        frameborder='0' 
        webkitAllowFullScreen 
        mozallowfullscreen 
        allowFullScreen>
      </iframe>
    </div>
    <h3 class="project__name">{{project.name}}</h3>
  </div>
</div>