<div class="clip">
  <div class="clip__header">
    <a class="clip__go-back btn hvr-shutter-out-horizontal"
      (click)="goBack()"
      >
      back to work
    </a>
    <div class="clip__header-info">
      <h2 class="clip__headline">{{project.headline}}</h2>
      <h2 class="clip__title">{{project.title}}</h2>
    </div>
  </div>
  <div class="clip__video"
    *ngFor="let clip of this.project.clips"
  >
    <div class="clip__embed-container">
      <iframe [src]="clip.url | safeResourceUrl" 
        frameborder='0' 
        webkitAllowFullScreen 
        mozallowfullscreen 
        allowFullScreen>
      </iframe>
    </div>
    <h3 class="clip__name">{{clip.name}}</h3>
  </div>
</div>