<div class="about">
  <img class="about__pic" alt="Rick profile pic">
  <div class="about__bio">
    <h2 class="about__greeting">Hey, it's me -- Rick</h2>
    <ul class="about__btn-group">
      <li>
        <a class="btn hvr-shutter-out-horizontal"
          href="files/RickSegal_Resume_Web.pdf"
          target="_blank"
          >
          résumé
        </a>
      </li>
      <li>
        <a class="btn hvr-shutter-out-horizontal"
          href="https://www.linkedin.com/in/rsegal"
          target="_blank"
          >
          linkedin
        </a>
      </li>
      <li>
        <a class="btn hvr-shutter-out-horizontal"
          href="https://www.instagram.com/riiyaack/"
          target="_blank"
          >
          instagram
        </a>
      </li>
      <li>
        <a class="btn hvr-shutter-out-horizontal"
          href="http://www.truthwellbrewed.com/blog/2015/5/13/mccanners-of-new
          york-22nd-edition-1"
          target="_blank"
          >
          learn too much
        </a>
      </li>
    </ul>
    <h5>risegal4@gmail.com</h5>
  </div>
</div>