@import '~scss/variables';

.about {

  &__pic {
    max-width: 70%;
    max-height: 300px;
    margin: 0 auto 3rem;
  }

  &__greeting {
    margin-bottom: 3rem;
  }

  &__btn-group {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 100px 100px;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
  }

  &__email {
    display: inline-block;
    transition: $fast-transition;

    &:hover {
      color: $action-color;
    }
  }

  @media screen and (min-width: 400px) {

    &__btn-group {
      grid-template-columns: 120px 120px;
    }

  }

  @media screen and (min-width: 500px) {

    &__btn-group {
      grid-template-columns: 160px 160px;
    }

  }

  @media screen and (min-width: 700px) {

    .about {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
      align-items: center;
    }

    &__pic {
      grid-column: 1;
      width: 100%;
    }

    &__bio {
      grid-column: 2;
    }

  }

}
