<div class="about">
  <img class="about__pic"
    src="assets/img/rick_prof_pic.jpg"
    alt="Rick Segal"
  >
  <div class="about__bio">
    <h2 class="about__greeting">Hey, it's me — Rick.</h2>
    <div class="about__btn-group">
      <a class="btn hvr-shutter-out-horizontal"
        href="assets/files/RickSegal_Resume_Web.pdf"
        target="_blank"
        >
        résumé
      </a>
      <a class="btn hvr-shutter-out-horizontal"
        href="https://www.linkedin.com/in/rsegal"
        target="_blank"
        >
        linkedin
      </a>
      <a class="btn hvr-shutter-out-horizontal"
        href="https://www.instagram.com/riiyaack/"
        target="_blank"
        >
        instagram
      </a>
      <a class="btn hvr-shutter-out-horizontal"
        href="http://www.truthwellbrewed.com/blog/2015/5/13/mccanners-of-new-york-22nd-edition-1"
        target="_blank"
        >
        learn too much
      </a>
    </div>
    <a class="about__email"
      href="mailto:risegal4@gmail.com"
      target="_blank"
      >
      <h4>risegal4@gmail.com</h4>
    </a>
  </div>
</div>
