@import '~scss/variables';

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  align-items: center;

  &__pic {
    grid-column: 1;
    width: 100%;
  }

  &__bio {
    grid-column: 2;
  }

  &__greeting {
    margin-bottom: 3rem;
  }

  &__btn-group {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 160px 160px;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
  }

  &__email {
    display: inline-block;
    transition: $fast-transition;

    &:hover {
      color: $action-color;
    }
  }
}
