<div class="home">
  <h1 class="home__name">
    <span class="accent">Rick</span> Segal
  </h1>
  <div class="home__links">
    <a class="home__link btn hvr-shutter-out-horizontal"
      routerLink="/work"
      >
      work
    </a>
    <a class="home__link btn hvr-shutter-out-horizontal"
      routerLink="/about"
      >
      about
    </a>
    <a class="home__link btn hvr-shutter-out-horizontal"
      routerLink="/misc"
      >
      <img class="home__bird"
        src="assets/img/seagull.png"
        alt="Misc"
        />
    </a>
  </div>
</div>
