// ===================
// COLORS
// ===================

$font-color: #212121;
$light-color: #ddd;
$bg-color: #fff;
$action-color: #fb0006;


// ===================
// TYPOGRAPHY
// ===================

$font-stack: 'Lato', 'HelveticaNeue', 'Helvetica Neue', 'Helevtica', 'Lucida Grande', 'Trebuchet MS', sans-serif;


// ===================
// TRANSITIONS
// ===================

$fast-transition: all 150ms ease-in-out;