// ===================
// VARIABLES
// ===================

$font-color: #212121;
$light-color: #DDD;
$bg-color: #FFF;
$action-color: #FB0006;

$font-stack: 'Lato', 'HelveticaNeue', 'Helvetica Neue', 'Helevtica', 'Lucida Grande', 'Trebuchet MS', sans-serif;

$transition: all 175ms ease-in-out;