// ===================
// COLORS
// ===================

$font-color: #212121;
$light-color: #ddd;
$bg-color: #fff;
$action-color: #fb0006;


// ===================
// TYPOGRAPHY
// ===================

$font-stack: 'Roboto', 'HelveticaNeue', 'Helvetica Neue', 'Helevtica', 'Lucida Grande', 'Trebuchet MS', sans-serif;


// ===================
// TRANSITIONS
// ===================

$scale: scale(1.02);
$fast-transition: all 150ms ease-in-out;
$medium-transition: all 250ms ease-in-out;

@keyframes enter-top {
  0% {
    transform: translateY(-5vh);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes enter-bottom {
  0% {
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
