@import './reset';
@import './variables';
@import './mixins';

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 2rem;
  font-weight: 200;
  font-family: $font-stack;
  height: 100vh;
}

a {
  &:link,
  &:visited,
  &:hover,
  &:focus,
  &:active {
    color: $font-color;
    text-decoration: none;
  }
}

li {
  list-style: none;
}