@import './reset';
@import './variables';
@import './animations';
@import './mixins';

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 2rem;
  font-weight: 100;
  font-family: $font-stack;
  min-height: 100vh;
}

a,
a:link,
a:visited,
a:hover,
a:focus,
a:active {
  display: block;
  color: $font-color;
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-weight: 100;
}

h1 { font-size: 3.157em; }
h2 { font-size: 2.369em; }
h3 { font-size: 1.777em; }
h4 { font-size: 1.333em; }

li {
  list-style: none;
}

.btn {
  padding: 2rem 4rem;
  text-align: center;
  display: block;
  color: $font-color;
  border: 1px solid $font-color;
  // transition: $transition;
  cursor: pointer;
}
