@import './reset';
@import './variables';
@import './animations';
@import './mixins';

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 2rem;
  font-weight: 100;
  font-family: $font-stack;
  min-height: 100vh;
}

a,
a:link,
a:visited,
a:hover,
a:focus,
a:active {
  display: block;
  color: $font-color;
  text-decoration: none;
}

li {
  list-style: none;
}

.btn {
  padding: 1rem 0;
  text-align: center;
  display: block;
  color: $font-color;
  border: 1px solid $font-color;
  // transition: $transition;
  cursor: pointer;
}